<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h4>Who We are</h4>
				<ul class="nav nav-stacked navbar-xs">
					<li class="nav-item"><%= link_to 'About Us', "/pages/aboutus", :class => "nav-link" %></li>
					<li class="nav-item"><%= link_to 'Careers', "/pages/careers", :class => "nav-link" %></li>
					<li class="nav-item"><%= link_to 'Blog', "/pages/blog", :class => "nav-link" %></li>
					<li class="nav-item"><%= link_to 'Contact Us', "/pages/contactus", :class => "nav-link" %></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h4>Our Brands</h4>
				<ul class="nav nav-stacked">
					<li class="nav-item"><%= link_to 'Gas N Go', "/pages/gasngo" %></li>
					<li class="nav-item"><%= link_to 'Perrys Chicken', "/pages/perryschicken" %></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h4>Follow Us</h4>
				<ul class="nav nav-stacked">
					<li class="nav-item"><%= link_to 'Facebook', "https://www.facebook.com/perrybrothersoil/" %></li>
					<li class="nav-item"><%= link_to 'Twitter', "https://twitter.com/PerryBrosOil" %></li>
				<ul>
			</div>
			<div class="col-lg-3">
				<h5> Copyright 2017<br /> Perry Brothers Oil Company</h5>
			</div>
		</div>    
	</div>    
</footer>
