<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h4>Who We are</h4>
				<ul class="nav nav-stacked">
					<li><%= link_to 'About Us', "/pages/aboutus" %></li>
					<li>Careers</li>
					<li>Blog</li>
					<li><%= link_to 'Contact Us', "/pages/contactus" %></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h4>Our Brands</h4>
				<ul class="nav nav-stacked">
					<li><%= link_to 'Gas N Go', "/pages/gasngo" %></li>
					<li><%= link_to 'Perrys Chicken', "pages/perryschicken" %></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h4>Follow Us</h4>
				<ul class="nav nav-stacked">
					<li><%= link_to 'Facebook', "https://www.facebook.com/perrybrothersoil/" %></li>
					<li><%= link_to 'Twitter', "https://twitter.com/PerryBrosOil" %></li>
				<ul>
			</div>
			<div class="col-lg-3">
				<h4> Copyright 2017<br /> Perry Brothers Oil Company</h4>
			</div>
		</div>    
	</div>    
</footer>
